<!DOCTYPE html>
{%extends 'BlogApp/base.html'%}
{%block title%}SRINIVAS BLOG{%endblock%}
{%block content%}
        <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div id="sidebar">
        <header>My App</header>
        <ul>
            <li><a href="#"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="#"><i class="fas fa-link"></i>Shortcuts</a></li>
            <li><a href="#"><i class="fas fa-stream"></i>Overview</a></li>
            <li><a href="#"><i class="fas fa-calendar-week"></i>Events</a></li>
            <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
            <li><a href="#"><i class="fas fa-envelope"></i>contact</a></li>
            <li><a href="/logout/"><i class="fas fa-question-circle"></i>logout</a></li>
        </ul>
    </div>
    <h1>{{ user.username}} Blog</h1>
    <hr />
    <p id="p1">Login by : {{ user.username }}</p>
    <a href="/postlogin/"><button>Add-Post</button></a>
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {%for post in post_list%}
        <h2><a href="{{post.get_absolute_url}}">{{post.title}}
        {%   with x=post.images.name|slice:"-3::" %}
        {{ x }}

           {% if x == "jpg"%}
           <img id="div5" src="/media/{{ post.images }}" width="40px" height="40px">
           {% elif x == "mp4" %}
               <video autoplay="autoplay" controls="controls" width="40px" height="40px">
						<source src="/media/{{ post.images }}" type="video/mp4"></source>
               </video>
           {% elif x == "pdf" %}
               <p>Downloadable file</p>
               <ol>
                    <li>
                        <a href="/media/{{ post.images }}">pdf file</a>
                    </li>
               </ol>
           {% endif %}
        </a></h2>
           <a href="/{{ post.id }}/delete1/">Delete-Post</a>
        <p>Tags:
                {% for tag in post.tags.all %}
                    <a href="{%url "post_list_by_tag_name" tag.slug %}">{{ tag.name }}</a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
        </p>
        <p id='date'>Published on {{post.publish}} by {{post.author|title}}</p>
        {{post.body| truncatewords:30|linebreaks}}
        <br/>
        {% endwith %}
    {%endfor%}
      {%include 'BlogApp/pagination.html' with page=post_list%}
{%endblock%}